<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <!-- title della pagina -->
  <head th:insert="~{/fragments/resources :: head(pageTitle='Book form')}">
  </head>
  <!-- nel body ho una variabile edit booleana in base a se il book ha id o no -->
<body th:with="isEdit=${book.id != null}">
<nav th:replace="~{/fragments/navbar :: navbar(current='books')}"></nav>
<div class="container">
  <!-- heading -->
  <h1 th:text="${isEdit ? 'Edit Book' : 'New Book'}"></h1>
  <hr>
  <!-- form di creazione di un book -->
  <!-- action del form -->
  <form
      th:with="formAction=${isEdit ? '/books/edit/'+ book.id : '/books/create'}"
      th:action="@{${formAction}}"
      th:object="${book}"
      method="post"
      id="book-form"
      class="row"
      enctype="multipart/form-data"
  >
    <!-- campi del libro -->
    <div class="col-8">
      <div class="row">
        <div class="col-6">
          <label class="form-label" for="book-title">Title</label>
          <input class="form-control" type="text" id="book-title" th:field="*{title}"
                 th:errorClass="is-invalid">
          <div class="form-text">Title must not be blank</div>
          <div th:if="${#fields.hasErrors('title')}" class="invalid-feedback">
            <ul>
              <li th:each="err : ${#fields.errors('title')}" th:text="${err}"></li>
            </ul>
          </div>
        </div>
        <div class="col-6">
          <label class="form-label" for="authors">Authors</label>
          <input class="form-control" type="text" id="authors" th:field="*{authors}">
        </div>
        <div class="col-6">
          <label class="form-label" for="isbn">ISBN</label>
          <input class="form-control" type="text" id="isbn" th:field="*{isbn}"
                 th:errorClass="is-invalid">
          <div class="form-text">Title must not be blank and from 10 to 13 characters</div>
          <div th:if="${#fields.hasErrors('isbn')}" class="invalid-feedback">
            <ul>
              <li th:each="err : ${#fields.errors('isbn')}" th:text="${err}"></li>
            </ul>
          </div>
        </div>
        <div class="col-6">
          <label class="form-label" for="publisher">Publisher</label>
          <input class="form-control" type="text" id="publisher" th:field="*{publisher}">
        </div>
        <div class="col-6">
          <label class="form-label" for="year">Publication year</label>
          <input class="form-control" type="number" id="year" th:field="*{year}"
                 th:errorClass="is-invalid">
          <div th:if="${#fields.hasErrors('year')}" class="invalid-feedback">
            <ul>
              <li th:each="err : ${#fields.errors('year')}" th:text="${err}"></li>
            </ul>
          </div>
        </div>
        <div class="col-6">
          <label class="form-label" for="copies">Number of copies</label>
          <input class="form-control" type="number" id="copies" th:field="*{numberOfCopies}"
                 th:errorClass="is-invalid">
          <div th:if="${#fields.hasErrors('numberOfCopies')}" class="invalid-feedback">
            <ul>
              <li th:each="err : ${#fields.errors('numberOfCopies')}" th:text="${err}"></li>
            </ul>
          </div>
        </div>
        <div class="col-12">
          <label class="form-label" for="synopsis">Synopsis</label>
          <textarea class="form-control" id="synopsis" th:field="*{synopsis}" rows="5"></textarea>
        </div>
        <!-- input per file di cover -->
        <div class="col-12">
          <label for="coverFile" class="form-label">Cover</label>
          <input class="form-control" type="file" id="coverFile" th:field="*{coverFile}"
                 th:errorClass="is-invalid">
          <div th:if="${#fields.hasErrors('coverFile')}" class="invalid-feedback">
            <ul>
              <li th:each="err : ${#fields.errors('coverFile')}" th:text="${err}"></li>
            </ul>
          </div>
          <div>
            <img width="100" th:src="@{|/files/cover/*{id}|}" alt="current cover">
          </div>
        </div>
      </div>
    </div>
    <!-- categorie -->
    <div class="col-4">
      <h3>Categories</h3>
      <div class="form-check" th:each="cat : ${categoryList}">
        <input class="form-check-input" type="checkbox" th:value="${cat.id}" th:id="|cat_${cat.id}|"
               th:field="*{categories}">
        <label class="form-check-label" th:for="|cat_${cat.id}|" th:text="${cat.name}">
        </label>
      </div>
    </div>
    <div class="col-12 mt-3">
      <button class="btn btn-primary" type="submit">Save</button>
      <a class="btn btn-primary" th:href="@{/books}">Cancel</a>
    </div>
  </form>
</div>
</body>
</html>