<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{/fragments/resources :: head(pageTitle='Book List')}">
</head>
<body>
<nav th:replace="~{/fragments/navbar :: navbar(current='books')}"></nav>

<div class="container">
  <!-- eventuale messaggio -->
  <div th:if="${message != null}" class="alert alert-dismissible fade show"
       th:classAppend="${#strings.equalsIgnoreCase(message.type, 'SUCCESS')} ? 'alert-success' : 'alert-danger'">
    <div th:text="${message.message}"></div>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  <h1>Book List</h1>
  <hr>
  <div class="d-flex justify-content-between align-items-center my-3">
    <!-- link di add new book -->
    <a class="btn btn-primary" th:href="@{/books/create}">Add Book</a>
    <!-- form di ricerca -->
    <div>
      <form th:action="@{/books}" method="GET">
        <div class="input-group">
          <input type="search" class="form-control" placeholder="Search by title or authors"
                 name="keyword" th:value="${searchInput}">
          <button class="btn btn-outline-secondary" type="submit">
            <i class="fa-solid fa-magnifying-glass"></i>
          </button>
        </div>
      </form>
    </div>
  </div>


  <!-- mostro la tabella solo se la lista ha risultati -->
  <table class="table" th:if="${bookList.size() > 0}">
    <thead>
    <tr>
      <th>Title</th>
      <th>Authors</th>
      <th>Publisher</th>
      <th>ISBN</th>
      <th>Year</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="book : ${bookList}">
      <td th:text="${book.title}"></td>
      <td th:text="${book.authors}"></td>
      <td th:text="${book.publisher}"></td>
      <td th:text="${book.isbn}"></td>
      <td th:text="${book.year}"></td>
      <td class="d-flex align-items-center">
        <a class="btn btn-primary me-1" th:href="@{|/books/${book.id}|}"><i
            class="fa-solid fa-book"></i></a>
        <a class="btn btn-primary me-1" th:href="@{|/books/edit/${book.id}|}"><i
            class="fa-solid fa-pen-to-square"></i></a>
        <!-- il bottone di delete non deve essere in pagina se il book ha dei prestiti -->
        <form
            th:action="@{|/books/delete/${book.id}|}"
            method="post"
            th:if="${book.borrowings.size() == 0}"
        >
          <button class="btn btn-primary" type="submit"><i class="fa-solid fa-trash-can"></i>
          </button>
        </form>
        <button th:unless="${book.borrowings.size() == 0}" class="btn btn-primary" disabled><i
            class="fa-solid fa-trash-can"></i>
        </button>
      </td>
    </tr>
    </tbody>
  </table>
  <!-- se la lista è vuota mostro un messaggio -->
  <div class="alert alert-info" th:unless="${bookList.size() > 0}">
    No results
  </div>
</div>
</body>
</html>